@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap");

:root {
  --color-primary: #323b4c;
  --color-secondary: #e1e8ee;
  --color-ternary: #87baba;
}

html {
  -webkit-text-size-adjust: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: rgb(84, 84, 84);
}

h2 {
  font-size: 1.3rem;
  margin: 20px 0;
  padding: 5px 0;
  font-family: Verdana;
  font-weight: 100;
  border-bottom: 1px solid white;
}

h3 {
  color: rgb(74, 74, 74);
  font-weight: 400;
  font-size: 1.3rem;
}

h4 {
  margin: 10px 0px;
}

p {
  margin: 10px 0;
  font-size: 1rem;
}

#cv {
  position: relative;
  width: 90%;
  display: grid;
  grid-template-columns: 20px 2fr 4fr;
  grid-template-rows: 260px 1fr;
  box-shadow: -10px 10px 1px #00000044;
  background-color: white;
  transform: scale(0.9);
  min-width: 600px;
}

#top-row-background {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: var(--color-secondary);
}

#left-column-background {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  background-color: var(--color-primary);
}

#header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  padding-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#personal-infomation {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  position: relative;
  padding: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 80px;
  color: white;
}

#main-content {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
}

.img-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
}

.img-box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-ternary);
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: scale(1.1) translateZ(-1px);
}

.img-box img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  filter: contrast(110%) grayscale(10%);
}

.contact-container {
  width: 100%;
}

.category {
  position: relative;
  margin: 40px 40px;
}

.category::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  background-color: var(--color-secondary);
  transform: translateX(-20px);
}

.heading {
  display: flex;
  align-items: center;
}

.fa-angle-up {
  font-size: 1.8rem;
  transform: rotate(90deg);
  color: var(--color-secondary);
  margin-right: 10px;
}

.role {
  color: rgb(7, 7, 121);
}

.year {
  color: rgb(111, 111, 111);
  font-style: italic;
}

.skills,
.languages {
  font-size: 0.9rem;
}
